{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ posts.author }}</a>
            <small class="text-muted">{{ posts.date_posted|date:"d F Y"}}</small>
            {% if posts.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'post-attend' object.id %}">{{ attend }}</a>
            {% endif %}
        
        </div>
        <h2 class="article-title">{{ posts.title }}</h2>
        <p class="article-content">{{ posts.content }}</p>
    </div>
</div>
</article>
        <div class="col-md-3">
            <div class="content-section">
              <h3>Dołączyli</h3>
              {% for a in members %}
              <ul>
                  <li>{{ a }}</li>
              </ul>
              {% endfor %}
            </div>
          </div>
</div>
{% endblock content %}